* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
}

.text-logo {
 text-align: center;
 color: white;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 /*color:#FC4A1A;*/
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style: italic;
}

#logo {
margin-top: 10px;
padding: 10px;

}

.search-text-field {
 width: 65%;
 min-width: 200px;
 height: auto;
 font-size: 18px;
 
 
}

.search-button {
width: 30%;
min-width: 100px;;
align-self: right;
height: auto;
font-size: 16px;
font-style: bold;
border-radius: 12px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-fields {
display: inline;
}

.search-result-logo {
 margin-left: 25px;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 color:white;
}

#thumbnails-style{
display: inline-block;
margin-left: 20px;
margin-bottom: 30px;

}


img:hover{
  background-color: steelblue;
}

img{
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
  
}

.main-container {
  margin-left: 20%;
  margin-right: 20%;
  background-color:  #4ABDAC;

}

button:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: red;
  
}
button {
background-color: yellow;
}

header{
  display: inline;
}

#load-more-videos{
width: 20%;
min-width: 100px;
margin-bottom: 35px;
display: inline;
height: auto;
font-size: 16px;
font-style: bold;
border-radius: 12px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-left: 40%;
margin-right: 40%;
}

#l-more-b{
align-content: center;

}